

*{
  margin: 0;
  padding: 0;
}
body {
 background-color: #F8F4EB;
 animation-name: example;
 animation-duration: 7s;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes example {
 0%   {background-color: violet;}
 50%  {background-color: yellow;}
 100% {background-color: yellowgreen;}
 0% {background-color: rgb(223, 245, 180);}
}

header {
 background-color: #424242;
 padding: 20px 0;
 height: 45px;
 overflow: hidden;
 border-radius: 8px;
 overflow-x:  hidden;
 }

 .navbar {
 padding-left: 25px;
 position: relative;
 bottom: 15px ;
 display: flex;
 justify-content:space-between;
 align-items: center;
 margin-right: 3vw;
 }
 
.logoimage {
width: 95px;
}

.logoimage:hover {
border: 2px solid rgba(103, 231, 67, 0.91);
cursor: pointer;  
}

.navsocialmedia{
display: flex;
position: relative;
overflow: hidden;
}
    
.hub {
width: 39px;
top: 2px;
position: relative;
margin-right: 30px ;
}
        
.hub:hover {
width: 55px;
height: 55px;
border: 2px solid rgba(103, 231, 67, 0.91);
cursor: pointer;
}
      
.linkedin {
width: 44px;
height: 44px;
position: relative;
}

.linkedin:hover {
width:  55px;
height: 55px;
border: 2px solid rgba(103, 231, 67, 0.91);
cursor: pointer;
}

.middlepart {
border: 1px solid black;
border-radius: 8px;
display: flex; 
background-color: #F8F4EB; 
margin-top: 2px;  
height: calc(100vh - 45px);
justify-content: center;
align-items: center;
}

.myphoto {
width: 80%;
height: 65%;
margin: 0px 30px 60px 30px;
border-radius: 20px;
overflow: hidden;
float: left;

     
}

.myinfo {
 border-radius: 20px;
 width: 100%;
 height: 100%;
 position: relative;
 overflow: hidden; 
 justify-content: center;
align-items: center;
margin-top: 100px;
 }

  .myinfor {
  margin: 20px;
  position: relative;
  top: 50px;
  color: rgb(255, 68, 0);
  text-align: center;
  animation: slidein 2s ease-in-out;
  }

  @keyframes slidein {
  from {
  transform: translateX(-100%);
  opacity: 0;
  }
  to {
  transform: translateX(0);
  opacity: 1;
  }
  }

  

   .jobtitle {
   font-style: italic;
   font-weight: bold;
   color: rgb(255, 68, 0);
   position: relative;
   top: 35px;
   margin: 20px;
   text-align: center;
    }
   
   .description {          
    font-weight: bold;
    color: rgb(255, 68, 0);
    position: relative;
    margin: 20px;
    font-size: 19px; 
    top: 30px;
    text-align: center;
    }
          
     .largebutton {
     padding: 10px 20px;
     font-size: 16px; 
     border-radius: 10px;
     margin: 10px;
     font-weight: bold;
     text-align: center;   
     }

    .largebuttons {
     justify-content: center;
     align-items: center;
     text-align: center;
     margin-top: 50px;
     }

     .largebutton:hover {
    border: 2px solid  rgb(255, 68, 0);
    cursor: pointer;
    }

    .footerr {
    position: relative;              
    display: flex;
    background-color:#424242; 
    padding : 20px 0;
    height: 45px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    }

    h3 {
    color: white;
    text-decoration: none;                  
    }

   .cv {
   background-color: yellowgreen;
   border-radius: 8px;
   padding: 15px;
   font-weight: bold;
   position: absolute;       
   }

   .cv:hover{
   background-color: rgb(255, 68, 0);
   color: whitesmoke;
   cursor: pointer;
   opacity: 90%;
   }

   .downloadcv {
   display: flex;
   justify-content: center;
   position: relative;
   right: 62px;
   top: 30px;
   }                    

  .contactform {
  margin: 2.5px 0px;
  display: flex;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 8px;
  height: 450px;
  background-color: #F8F4EB;
  }

  .leftside {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding : 40px 0 0 35px;
  margin-right: 40px;

  }

 .leftside p{
 display:inline-flex;
  }

 .leftside .heading2{
 font-size: 1.5em;
 color: rgb(255, 68, 0);
 padding: 10px 5px;
 margin-right: 40px;
  }


  .leftside .heading,
  .leftside #icon{
  padding: 10px 5px;
  font-size: 2em;
  color: rgb(255, 68, 0);
  }
    

  .leftside .heading{
  margin-top: 20px;
  margin-right: 40px;
  }

  .leftside .emailid,
  .leftside .number{
  color: rgb(255, 68, 0);
  font-weight: bold;
   }
    
  .leftside .cv {
  padding: 10px 15px;
  background-color: rgba(255, 68, 0);
  color: white;
  }

  .rightside {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  }
  
  .rightside .yourname {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 70px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 10px 5px;
  background-color: #FFA6A3;      
  }
  
  .rightside .youremail {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 10px 5px;
  background-color: #FFA6A3; 
 }
  
  .rightside .yourmsg {
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 5px;
  padding: 10px 5px 100px;
  margin-bottom: 20px;
  background-color: #FFA6A3;
  }
  
  .rightside .submitbtn {
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 5px;
  padding: 10px 0;
  background-color: rgb(255, 68, 0);
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  }

  .rightside .submitbtn:hover {
  cursor: pointer;
  }